@import "tailwindcss";/* You can add global styles to this file, and also import other style files */
@plugin "daisyui" {
    themes:all;
    exclude: rootscrollgutter;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 90% !important;
}